version: '2'
mpp-vars:
  name: {{ conf.name }}
  use_qm: true
  use_bluechi: true
{# Add extra_rpm packages if any #}
{%- if conf.rpm is defined %}
  {%- set extra_rpms = [] %}
  {%- for rpm_set_name, rpm_set_data in conf.rpm.items() %}
    {%- if rpm_set_data.layer is not defined and rpm_set_data.packages is defined %}
      {%- for package in rpm_set_data.packages %}
        {{- extra_rpms.append(package) or "" }}
      {%- endfor %}
    {%- endif %}
  {%- endfor  %}
  {%- if extra_rpms | length > 0  %}

  extra_rpms:
  {% for package in extra_rpms | unique | sort %}
  - {{ package }}
  {% endfor %}
  {% endif %}
{% endif %}
{# [END] Add extra_rpm packages if any #}
{# Add qm_extra_rpm packages if any #}
{%- if conf.rpm is defined %}
  {%- set qm_extra_rpms = [] %}
  {%- for rpm_set_name, rpm_set_data in conf.rpm.items() %}
    {%- if rpm_set_data.layer is defined and rpm_set_data.layer == "qm" and rpm_set_data.packages is defined %}
      {%- for package in rpm_set_data.packages %}
        {{- qm_extra_rpms.append(package) or "" }}
      {%- endfor %}
    {%- endif %}
  {%- endfor  %}
  {%- if qm_extra_rpms | length > 0  %}

  qm_extra_rpms:
  {% for package in qm_extra_rpms | unique | sort %}
  - {{ package }}
  {% endfor %}
  {% endif %}
{% endif %}
{# [END] Add qm_extra_rpm packages if any #}
{# Add extra_repos if any #}
{%- if conf.rpm_repo is defined %}
  {%- set extra_repos = [] %}
  {%- for repo_id, repo_data in conf.rpm_repo.items() %}
    {%- if repo_data.layer is not defined and repo_data.base_url is defined %}
      {{- extra_repos.append([repo_id, repo_data.base_url]) or "" }}
    {%- endif %}
  {%- endfor  %}
  {%- if extra_repos | length > 0  %}

  extra_repos:
  {% for repo_id, repo_base_url in extra_repos %}
  - { id: {{ repo_id }}, baseurl: {{ repo_base_url }} }
  {% endfor %}
  {% endif %}
{% endif %}
{# [END] Add extra_repos if any #}
{# Add qm_extra_repos if any #}
{%- if conf.rpm_repo is defined %}
  {%- set qm_extra_repos = [] %}
  {%- for repo_id, repo_data in conf.rpm_repo.items() %}
    {%- if repo_data.layer is defined and repo_data.layer == "qm" and repo_data.base_url is defined %}
      {{- qm_extra_repos.append([repo_id, repo_data.base_url]) or "" }}
    {%- endif %}
  {%- endfor  %}
  {%- if qm_extra_repos | length > 0  %}

  qm_extra_repos:
  {% for repo_id, repo_base_url in qm_extra_repos %}
  - { id: {{ repo_id }}, baseurl: {{ repo_base_url }} }
  {% endfor %}
  {% endif %}
{% endif %}
{# [END] Add qm_extra_repos if any #}

pipelines:
- mpp-import-pipelines:
    path: include/build.ipp.yml

- name: qm_rootfs
  build: name:build
  stages:
  - type: org.osbuild.copy
    inputs:
      tree:
        type: org.osbuild.tree
        origin: org.osbuild.pipeline
        references:
          - name:qm_rootfs_base
    options:
      paths:
        - from: input://tree/
          to: tree:///
{# Install the qm container images to the qm filesystem #}
  {%- if "containers" in conf %}
    {%- for container_name in conf.containers.keys() %}
      {%- set container = conf.containers[container_name] %}
      {%- set registry_image = [] %}
      {%- if container_name not in custom_containers %}
        {%- if "registry" in container.keys() %}{{- registry_image.append(container.registry) or "" }}{% endif %}
        {%- if "namespace" in container.keys() %}{{- registry_image.append(container.namespace) or "" }}{% endif %}
      {%- else %}
        {{- registry_image.append("localhost:5000") or "" }}
      {%- endif %}
      {%- if "image" in container.keys() %}{{- registry_image.append(container.image) or "" }}{% endif %}
      {%- if 'layer' in container and container.layer == "qm" %}

  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
            - source: {{ registry_image | join("/") }}
              tag: {{ container.version | default("latest") }}
              name: {{ container.systemd.container.image }}
    options:
      destination:
        type: containers-storage
        storage-path: /usr/share/containers/storage
      {% endif %}
    {% endfor %}
  {% endif %}
{# [END] Install the qm container images to the qm filesystem #}
{# Install the qm container systemd files to the qm filesystem #}
{%- if "containers" in conf %}
    {%- set containers_to_add = [] %}
    {%- for container_name, container_data in conf.containers.items() %}
      {%- if "layer" in container_data and container_data.layer == "qm" %}{{ containers_to_add.append(container_name) or "" }}{%- endif %}
    {%- endfor %}
    {%- if containers_to_add != [] %}

  - type: org.osbuild.copy
    inputs:
      {% for container_name in containers_to_add -%}
      {{ container_name }}-systemd:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-embed:
          id: {{ container_name }}.container
          path: ../files/{{ conf.name }}/containers/{{ container_name }}/{{ container_name }}.container
      {% endfor %}

    options:
      paths:
      {% for container_name in containers_to_add -%}
      - from:
          mpp-format-string: input://{{ container_name }}-systemd/{embedded['{{ container_name }}.container']}
        to: tree:///etc/containers/systemd/{{ container_name }}.container
      {% endfor %}
    {% endif %}
{% endif %}
{# [END] Install the qm container systemd files to the qm filesystem #}

- name: rootfs
  build: name:build
  stages:
  - type: org.osbuild.kernel-cmdline
    options:
      root_fs_uuid:
        mpp-if: not use_abl
        then:
          mpp-eval: rootfs_uuid
      kernel_opts:
        mpp-eval: ''' '' .join(kernel_opts)'
  - type: org.osbuild.rpm
    options:
      gpgkeys:
      - mpp-eval: distro_gpg_keys
      disable_dracut: true
      exclude:
        docs: true
    inputs:
      packages:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-depsolve:
          architecture: $arch
          ignore-weak-deps: true
          module-platform-id: $distro_module_id
          baseurl: $distro_baseurl_repo
          repos:
            mpp-join:
            - mpp-eval: image_repos
            - mpp-eval: extra_repos
            - []
          packages:
            mpp-join:
            - mpp-eval: image_rpms
            - mpp-eval: extra_rpms
            - []
          excludes:
          - dracut-config-rescue
{# Install the container images to the filesystem #}
  {%- if "containers" in conf %}
    {%- for container_name in conf.containers.keys() %}
      {%- set container = conf.containers[container_name] %}
      {%- set registry_image = [] %}
      {%- if container_name not in custom_containers %}
      {%- if "registry" in container.keys() %}{{- registry_image.append(container.registry) or "" }}{% endif %}
      {%- if "namespace" in container.keys() %}{{- registry_image.append(container.namespace) or "" }}{% endif %}
      {%- else %}
      {{- registry_image.append("localhost:5000") or "" }}
      {%- endif %}
      {%- if "image" in container.keys() %}{{- registry_image.append(container.image) or "" }}{% endif %}
      {%- if 'layer' not in container %}

  - type: org.osbuild.skopeo
    inputs:
      images:
        type: org.osbuild.containers
        origin: org.osbuild.source
        mpp-resolve-images:
          images:
            - source: {{ registry_image | join("/") }}
              tag: {{ container.version | default("latest") }}
              name: {{ container.systemd.container.image }}
    options:
      destination:
        type: containers-storage
        storage-path: /usr/share/containers/storage
      {% endif %}
    {% endfor %}
  {% endif %}
{# [END] Install the container images to the filesystem #}
{# Install the container systemd files to the filesystem #}
{%- if "containers" in conf %}
    {%- set containers_to_add = [] %}
    {%- for container_name, container_data in conf.containers.items() %}
      {%- if "layer" not in container_data %}{{ containers_to_add.append(container_name) or "" }}{%- endif %}
    {%- endfor %}
    {%- if containers_to_add != [] %}

  - type: org.osbuild.copy
    inputs:
      {% for container_name in containers_to_add -%}
      {{ container_name }}-systemd:
        type: org.osbuild.files
        origin: org.osbuild.source
        mpp-embed:
          id: {{ container_name }}.container
          path: ../files/{{ conf.name }}/containers/{{ container_name }}/{{ container_name }}.container
      {% endfor %}

    options:
      paths:
      {% for container_name in containers_to_add -%}
      - from:
          mpp-format-string: input://{{ container_name }}-systemd/{embedded['{{ container_name }}.container']}
        to: tree:///etc/containers/systemd/{{ container_name }}.container
      {% endfor %}
    {% endif %}
{% endif %}
{# [END] Install the container systemd files to the filesystem #}

  - type: org.osbuild.users
    options:
      users:
        guest:
          password:
            mpp-eval: guest_password
          gid:
            mpp-eval: guest_gid
          uid:
            mpp-eval: guest_uid
- mpp-import-pipelines:
    path: include/image.ipp.yml
